.variables {
    position: fixed;
    top: 110px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: aliceblue;
    min-width: 200px;
}

.variable {
    display: flex;
    flex-direction: row;
}

.addVariableButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}